/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #61defa;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.myheader {
    background-color: #a9fcfc;
}

#canvas {
    border: 3px solid black;
    min-width: 1042px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #a9fcfc;
}

.main_area {
    width: 100%;
    height: 540px;
    min-width: 1450px;
}

.name_input {
    height: 30px;
    width: 90%;
    margin-left: 30px;
    border-radius: 10px;
    text-align: center; 
}

.draw_area {
    width: 70%;
    float: left;
    height: 100%;
}

.input_area {
    width: 30%;
    float: right;
    color: white;
}

.allMarkersDeleter {
    margin: 10px 0 0 5px;
    width: 44%;
    float: left;
    height: 60px;
    border-radius: 10px;
}

.lastMarkerDeleter {
    margin: 10px 0 0 30px;
    width: 45%;
    float: left;
    height: 60px;
    border-radius: 10px;
}

.table{
    font-size:16px;
    text-align:center;
}

.actionTableButton {
    margin: 15px 30px;
    width: 90%;
    height: 60px;
    border-radius: 10px;
    background-color: #03a1fc;
    text-align:center;
}

.sortButton {
    float: left;
    width: 40%;
    text-align: center;
    margin: 20px 5%;
    border-radius: 10px;
    background-color: #03a1fc;
}

.table td{
    width: 33%;
}

.table th {
    width: 33%;
}

.logicButtons {
    margin-top: 30%;
}

.logicButtons button {
    background-color: #03a1fc;
}

.markerButtons button {
    background-color: #03a1fc;
}

.inputButton {    
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 15px 30px;
}


