@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
</head>
<body onresize="resizeCanvas()">
    <div class="main_area">
        <div class="draw_area">
            <canvas id="canvas"></canvas>
        </div>
        <div class="input_area">
            <div class="markerButtons">
                <input name="username" class="name_input" placeholder="Введите имя" type="text" />
                <button class="lastMarkerDeleter" onclick="deleteLastInCurrentClient()">Убрать последний маркер</button>
                <button class="allMarkersDeleter" onclick="deleteAllInCurrentClient()">Убрать все маркеры</button>
            </div>
            <div class="logicButtons">
                @using (Html.BeginForm("ActionHistory", "Home"))
                {

                    <input class="actionTableButton" type="submit" value="Открыть таблицу последних действий" />

                }
                <button class="actionTableButton" onclick="sendPosition()">Сохранить текущее положение маркеров</button>
                <input id="inputFile" class="inputButton" type="file">
                <button class="actionTableButton" onclick="drawMarkerFromFile()">Загрузить свое положение маркеров</button>
            </div>
        </div>
    </div>
</body>
<script src="~/js/signalr/dist/browser/signalr.min.js" type="text/javascript"></script>
<script src="~/js/script.js" type="text/javascript"></script>




